    .img - texto {
            position: relative;
            float: left;
            }
            .img - texto span {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z - index: 999;
            background: #848282;
            padding: 60px;
            color: #fff;
            font - family: sans - serif;
            opacity:0.8;
            font - size: 20px;
            }